/* You can add global styles to this file, and also import other style files */
html {
    font-family: calibre,Helvetica Neue,helvetica,arial,sans-serif;
    font-style: normal;
    font-size: 10px;
}