
.logo {
height: 100px;
padding: 5px;
margin-left: 40px;
margin-top: -20px;
}
.container {
  display: flex;
  height: 70px;
  font-size: 14px;

}

ul
{
  display: flex;
  list-style: none;

}
li {
  padding: 7px;


}
a {
  text-decoration: none;
  color: #000;
}

#drower {
  transition: height 1s ease-in-out;
  overflow: hidden;
  background-color: white;
}
.closed {
display: none;
}
.open
{
  position: fixed;
   top: 100px;
  width: 40%;
  height: 50vh;

}

.icons{
  height: 35px;
  padding-right: 35px;
}

.menuRapper{
  display: flex;
  padding-left: 50px;
  border-bottom: 1px solid lightgray;
  color: gray;

}
.menuRapper:hover
{
border-bottom: 1px solid #000;
}
.menuHeader {
  h1 {
    color: rgb(102, 129, 102);
  }
}
.ourmenu {
cursor: pointer;

}

