
.logo {
height: 100px;
padding: 5px;
margin-left: 40px;
margin-top: -20px;
}
.container {
  display: flex;
  height: 70px;
  font-family:Arial;

}
// .new {
//   background-color: hsl(0, 24%, 96%);
//   height: 50px;
//   width: 100%;
// }
ul
{
  display: flex;

}
li {
  padding: 5px;
  list-style: none;
}

#drower {
  transition: height 1s ease-in-out;
  overflow: hidden;
}
.closed {
display: none;
}
.open
{
  position: fixed;
   top: 100px;
  width: 40%;
  height: 50vh;
  background-color: white;
}

.icons{
  height: 35px;
  padding-right: 35px;
}

.menuRapper{
  display: flex;
  padding-left: 50px;
  border-bottom: 1px solid lightgray;
  color: gray;

}
.menuRapper:hover
{
border-bottom: 1px solid #000;
}
.menuHeader {
  color: gray;
  h1 {
    color: rgb(102, 129, 102);
  }
}
.ourmenu {
cursor: pointer;
}
h1
 {
  cursor: pointer;
 }
