

<div class="container">
  <div>
    <ul>

      <li><a routerLink="/menu" >Our Menu</a></li>
      <li><a routerLink="/">Locations</a></li>
      <li> <a routerLink="" class="">Gift Cards</a></li>
      <li><a routerLink="" class="">Subscription</a></li>
      <li><a routerLink="" class="">Catering</a></li>
      <li><a routerLink="" class="">Value</a></li>
    </ul>
  </div>
<div>
 <span >
  <img class="logo" src="https://www.panerabread.com/content/dam/panerabread/menu-omni/integrated-web/branding/panera-bread-logo-no-mother-bread.svg" alt="">
 </span>
</div>
  <div>
    <ul>
      <li>
        <a routerLink="" class="">Sign in or join my panera</a>

      </li>
      <li><a routerLink="" class="">start order</a></li>
      <li>
        <a routerLink="" class="">search our menu</a>
      </li>
    </ul>
  </div>
</div>


<div>
  <img src="https://www.panerabread.com/content/dam/panerabread/integrated-web-content/content/supporting-assets/meatless-you-pick-two-hero.jpg.transform/home-hero/image.20220301.jpeg" alt="">
</div>
