<div class="container">
  <div>
    <ul>
      <li>
        <span class="ourmenu" (click)="toggleIsOpen()"
          >Our Menu
          <span
            id="drower"
            class="bg-secondary"
            [ngClass]="{ closed: !isOpen, open: isOpen }"
          >
            <div class="hideSlide">
              <div class="menuHeader">
                <h1>Menu</h1>
                <p>BROWSE BY CATEGORY</p>
              </div>

              <div>
                <app-category></app-category>
              </div>
            </div>
          </span>
        </span>
      </li>
      <li><a routerLink="">Locations</a></li>
      <li><a routerLink="" class="">Gift Cards</a></li>
      <li><a routerLink="" class="">Subscription</a></li>
      <li><a routerLink="" class="">Catering</a></li>
      <li><a routerLink="" class="">Value</a></li>
    </ul>
  </div>
  <div>
    <span>
      <img
        class="logo"
        src="https://www.panerabread.com/content/dam/panerabread/menu-omni/integrated-web/branding/panera-bread-logo-no-mother-bread.svg"
        alt=""
      />
    </span>
  </div>
  <div *ngIf="loggedInUser$ | async; else elseTemplate">
    <ul>
      <li>
        <a routerLink="user" class="">User Profile</a>
      </li>
      <li><a routerLink="" class="">start order</a></li>
      <li>
        <a routerLink="" class="">search our menu</a>
      </li>
    </ul>
  </div>
  <ng-template #elseTemplate>
    <ul>
      <li>
        <a routerLink="login">Sign In or Join MyPanera</a>
      </li>
      <li>
        <a routerLink="" >start order</a>
      </li>
      <li>
        <a routerLink="" class="">search our menu</a>
      </li>
    </ul>
  </ng-template>
</div>
<div class="new">

</div>

<!-- <nav *ngIf="!loggedInUser$ ; else elseTemplate">
  <a routerLink="/">Home</a>
  <a routerLink="/translations">Translations</a>
</nav>

 <ng-template #elseTemplate>
  <nav>
  <a routerLink="/">Home</a>
  <a routerLink="/translations">Translations</a>
  <a class="rightSide" routerLink="/signup">Sign Up</a>
<a class="rightSide" routerLink="/login">Login</a>
</nav>
</ng-template> -->
