<div class="container">
  <div class="row1">
      <img src="https://www.panerabread.com/content/dam/panerabread/integrated-web-content/homepage/c2-2022/c2-22-chicken-sandwiches-hp-hero.jpg.transform/home-hero/image.20220318.jpeg"> 
</div>
      <div class="wrapper action">
      <div class="col-md action">
        <a href="#" title="Rapid Pick-Up" target="_self" aria-label="Start a pickup order" class="order-type"><!----> <span class="rto-label">Rapid Pick-Up</span></a>
      </div>
      <div class="col-md action">
        <a href="#" title="Delivery" target="_self" aria-label="Start a pickup order" class="order-type"><!----> <span class="rto-label">Delivery</span></a>
      </div>
      <div class="col-md action">
        <a href="#" title="Catering" target="_self" aria-label="Start a pickup order" class="order-type"><!----> <span class="rto-label">Catering</span></a>
      </div>
    </div>
      <br>
      <br>
    
        <div class="row">
          <div class="card">
          <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
           <img src=" https://www.panerabread.com/content/dam/panerabread/menu-omni/integrated-web/grid/rect/broccoli-cheddar-soup-bowl.jpg.transform/rect-grid-image/image.20220418.jpg" style="width: 100%; height: 12em">
           <a href="#">Add Cart</a>
          </ng-template>
          <ng-template carouselSlide>
            <img src=" https://www.panerabread.com/content/dam/panerabread/menu-omni/integrated-web/grid/rect/mixed-berry-greek-yogurt-parfait.jpg.transform/rect-grid-image/image.20220419.jpg" style="width: 100%; height: 12em">
            <a href="#">Add Cart</a>
          </ng-template>
        
      
          <ng-template carouselSlide><img src="https://www.panerabread.com/content/dam/panerabread/menu-omni/integrated-web/grid/rect/bacon-turkey-bravo-sandwich-tce-whole.jpg.transform/rect-grid-image/image.20220418.jpg "style="width: 100%; height: 12em">
            <a href="#">Add Cart</a>
          </ng-template>
          
          
          <ng-template carouselSlide><img src="https://www.panerabread.com/content/dam/panerabread/menu-omni/integrated-web/grid/rect/asiago-bagel.jpg.transform/rect-grid-image/image.20220419.jpg"style="width: 100%; height: 12em">
            <a href="#">Add Cart</a>
          </ng-template>
          <ng-template carouselSlide><img src="https://www.panerabread.com/content/dam/panerabread/menu-omni/integrated-web/grid/rect/avocado-egg-white-and-spinach-breakfast-sandwich-eetest.jpg.transform/rect-grid-image/image.20220419.jpg"style="width: 100%; height: 12em">
            <a href="#">Add Cart</a>
          </ng-template>
          <ng-template carouselSlide><img src="https://www.panerabread.com/content/dam/panerabread/menu-omni/integrated-web/grid/rect/chipotle-chicken-breakfast-wrap.jpg.transform/rect-grid-image/image.20220419.jpg"style="width: 100%; height: 12em">
            <a href="#">Add Cart</a>
          </ng-template>
          <ng-template carouselSlide><img src="https://www.panerabread.com/content/dam/panerabread/menu-omni/integrated-web/grid/rect/green-passion-power-smoothie-medium.jpg.transform/rect-grid-image/image.20220419.jpg"style="width: 100%; height: 12em">
            <a href="#">Add Cart</a>
          </ng-template>
           <ng-template carouselSlide><img src="https://www.panerabread.com/content/dam/panerabread/menu-omni/integrated-web/grid/rect/iced-coffee-medium.jpg.transform/rect-grid-image/image.20220419.jpg"style="width: 100%; height: 12em">
            <a href="#">Add Cart</a>
          </ng-template>
           <ng-template carouselSlide><img src="https://www.panerabread.com/content/dam/panerabread/menu-omni/integrated-web/grid/rect/pecan-braid.jpg.transform/rect-grid-image/image.20220419.jpg"style="width: 100%; height: 12em">
            <a href="#">Add Cart</a>
          </ng-template>
           <ng-template carouselSlide><img src=" https://www.panerabread.com/content/dam/panerabread/menu-omni/integrated-web/grid/rect/low-fat-mango-smoothie-medium.jpg.transform/rect-grid-image/image.20220419.jpg"style="width: 100%; height: 12em">
          <a href="#">Add Cart</a>
          </ng-template>
            </owl-carousel-o>
         </div>
        
        <!-- <div class="row1">
          <img src="https://www.panerabread.com/content/dam/panerabread/integrated-web-content/homepage/c2-2022/c2-22-charged-lemonades-hp-hero.jpg.transform/home-hero/image.20220318.jpeg"> 
      </div>   -->
      
      <div class="row1">
        <img src="https://www.panerabread.com/content/dam/panerabread/integrated-web-content/homepage/c2-2022/c2-22-yp2-hp-hero.jpg.transform/home-hero/image.20220318.jpeg"> 
    </div> 
    <div class="row1">
      <img src="https://www.panerabread.com/content/dam/panerabread/integrated-web-content/campaigns/coffee-subscription/usc-beverages-hp-hero.jpg.transform/home-hero/image.20220412.jpeg"> 
  </div> 
  <div class="row1">
    <img src=" https://www.panerabread.com/content/dam/panerabread/integrated-web-content/homepage/c2-2022/c2-22-catering-v2-hp-hero.jpg.transform/home-hero/image.20220318.jpeg"> 
</div> 
<div class="row2">
<div>
  <img src=" https://www.panerabread.com/content/dam/panerabread/integrated-web-content/homepage/c1-2022/panera-connects-v1.png.transform/grid-image/image.20220218.png">   <h4>Power Virtual Events</h4>
  <p>Panera Connects is your mealtime solution for virtual meetings and events,<br> delivering delicious individually packaged meals to all attendees</p>
  <br>
  </div>
  <div class="row3">
  <img src=" https://www.panerabread.com/content/dam/panerabread/integrated-web-content/homepage/c3-2021/panera-day-at-work-hp-grid.png.transform/grid-image/image.20210713.png"> 
  <h4>Have a Panera Day @ Work</h4> 
  <p>Panera Day @ Work makes it easy for everyone to grab lunch or dinner
  <br>
  Choose your own schedule, order ahead and we'll deliver to you.
  </p>
  </div>
  </div>
</div> 
 



      </div>
      
  

  
   