
body{
	line-height: 1.5;
	font-family: calibre,Helvetica Neue,helvetica,arial,sans-serif;
}
*{
	margin:0;
	
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:#4c753f;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   justify-content: space-between;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 14px;
}
.footer-col ul li a{
	font-size: 24px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footerr-col ul li a{
	font-size: 24px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footerr-col{
    width: 25%;
    padding: 0 15px;
 }
 .footerr-col ul li:not(:last-child){
     margin-bottom: 14px;
 }
.footerr-col ul li a{
	font-size: 14px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
	padding-right: 10%;
	text-decoration: underline;
}

.footerr-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
	text-decoration: underline;
}

.container2{
	display: flex;
	justify-content:space-between ;
	color: #ffffff;
	font-size: 10px;
 }
 .container2 ul li:not(:last-child){
     margin-bottom: 14px;
 }
 .container2 ul li a{
     font-size: 24px;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300;
     color: #ffffff;
     display: block;
     transition: all 0.3s ease;
	 padding-left: 30px;
	
}  
 

 .container2 ul li a:hover{
     color: #ffffff;
     padding-left: 8px;
	 text-decoration: underline;
}
 
 
.container2 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
	font-size: 16px;
	
   
}
.footer1-col h6{
    margin-top: 15px;
	font-size: 11px;
	color: #ffffff;
	text-transform: capitalize;
	
}
.copyright{
	font-size: 12px;
}
.copyright-wrapper {
	display: flex;
 -webkit-box-pack: justify; 
 padding: 10px 0 20px; 
 color:#ffffff

 
}
.row ul li {
	display: inline; 
	padding: 1px;
	margin-right: 8px;

}
.row ul li:last-child {
	border-right: 4px;
}
.row ul li a {
	text-decoration: none;
	color:white;
	font-size: 12px;
}
.footer-links-terms ul li a:hover {
	text-decoration: underline;
}

.footer-links-terms ul li {
	display: inline; 
	padding: 1px;
	margin-right: 8px;

}
.footer-links-terms ul li:last-child {
	border-right: 4px;
}
.footer-links-terms ul li a {
	text-decoration: none;
	color:white;
	font-size: 12px;
}
.footer-links-terms ul li a:hover {
	text-decoration: underline;
}





// /*responsive*/
@media (max-width: 780px){
.footer .footer-col {
    border-bottom: 0.1rem solid rgba(0,0,0,.1);
    font-weight: 500px;
    flex-flow: row wrap;
	width: 100%;
	
}}
@media (max-width: 1199px){
.footer .footerr-col{
    padding: 4.6rem 0;
	width: 50%;
}
}
@media (max-width: 600px){}
.container2 .footer1-col h6 ul li a{
	display: block;
  padding: 2.5rem 0 10rem;
}

		@media (max-width: 600px){}
  .container2 .social-links h6 ul li a{
	  display: block;
    padding: 2.5rem 0 10rem;
	
}
@media (max-width: 600px){}
  .container2 .social-links h6{
   margin-top: 16px;
	
}
