
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">

  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="#">Our Menu</a></li>
  	 				<li><a href="#">Gift Card</a></li>
  	 				<li><a href="#">Location</a></li>
                    <li><a href="#">catering</a></li>
  	 			</ul>
            </div>
            
            <div class="footerr-col">
                <ul>
                    <li><a href="#">About Panera</a></li>
                    <li><a href="#">Panera at Home</a></li>
                    <li><a href="#">Values</a></li>
                    <li><a href="#">Press Room</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="footerr-col">
                <ul>
                    <li><a href="#">Panera Bread Foundation</a></li>
                    <li><a href="#">Community Giving</a></li>
                    <li><a href="#">Fundrasing Night</a></li>
                    <li><a href="#">Customer Care</a></li>
                    <li><a href="#">COVID-19 Actions & Preparetions</a></li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <br>
        
        <br>
        <br>
        <hr>
        <div class="container2">
        <div class="footer1-col">
            <h6>Become a member and start earning rewards today.</h6>
            <br>
            <ul>
                <li><a href="/login">Join MyPanera</a></li>
            </ul>
        </div>
        <hr>
        
        <div class="social-links">
            <h6>Stay in Touch</h6>
                <a href="https://www.facebook.com/panerabread/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/panerabread"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/panerabread/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/user/panerabread"><i class="fab fa-youtube"></i></a>
                <a href="https://www.pinterest.com/panerabread/"><i class="fab fa-pinterest-p"></i></a>
            </div>
                </div>

<br>
<br>

        <div class="copyright-wrapper">
            <div class="copyright">
                Copyright © 2022 Panara Bread. All rights reserved.
            </div>
            <div class="footer-links-terms">
                <ul>
                    <li><a href="#">Term of usecd src   </a></li>
                    <li><a href="#">Your Privacy</a></li>
                    <li><a href="#">WiFi Terms of Use</a></li>
                    <li><a href="#">California Supply Chain Act</a></li>
                    <li><a href="#">Gift Card Terms & Condition </a></li>

                </ul>
            </div>

        </div>
</div>

</footer>
