
body{
	line-height: 1.5;
	font-family: calibre,Helvetica Neue,helvetica,arial,sans-serif;
}
*{
	margin:0;
	
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:#4c753f;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   justify-content: space-between;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 14px;
}
.footer-col ul li a{
	font-size: 24px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footerr-col{
    width: 25%;
    padding: 0 15px;
 }
 .footerr-col ul li:not(:last-child){
     margin-bottom: 14px;
 }
.footerr-col ul li a{
	font-size: 14px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
	padding-right: 10%;
	text-decoration: underline;
}

.footerr-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
	text-decoration: underline;
}

.container2{
	display: flex;
	justify-content:space-between ;
	color: #ffffff;
	font-size: 10px;
 }
 .container2 ul li:not(:last-child){
     margin-bottom: 14px;
 }
 .container2 ul li a{
     font-size: 24px;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300;
     color: #ffffff;
     display: block;
     transition: all 0.3s ease;
	 padding-left: 30px;
	
}  
 

 .container2 ul li a:hover{
     color: #ffffff;
     padding-left: 8px;
	 text-decoration: underline;
}
 
 
.container2 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	// background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	// border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
	font-size: 16px;
	
   
}
.container2 .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
	
}

.social-links h4{
    margin-top: 15px;
	font-size: 10px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	
}
.social-links h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer1-col h3{
    margin-top: 15px;
	font-size: 11px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	
}
.copyright{
	font-size: 12px;
}
.copyright-wrapper {
	display: flex;
 -webkit-box-pack: justify; 
//   justify-content: space-between;
 padding: 10px 0 20px; 
 color:#ffffff

 
}
.footer-links-terms ul li {
	display: inline; 
	padding: 1px;
	// border-right: 1px solid #ccc;
	margin-right: 8px;

}
.footer-links-terms ul li:last-child {
	border-right: 4px;
}
.footer-links-terms ul li a {
	text-decoration: none;
	color:white;
	font-size: 12px;
}
.footer-links-terms ul li a:hover {
	text-decoration: underline;
}





// /*responsive*/
@media(max-width: 767px){
	.footer-col{
	  width: 50%;
	  margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
	.footer-col{
	  width: 100%;
  }
  }
  
@media (max-width: 600px){
	.footer-col {
		border-bottom: 0.1rem solid rgba(0,0,0,.1);
		padding: 2.6rem 0;
		display: flex;
		flex-flow: row wrap;
	}
	}
	@media (max-width: 600px){
		.footerr-col {
			padding: 2.6rem 0;
			display: flex;
			flex-flow: row wrap;
		}
	}